* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

:root {
    --color1: #000000;
    --color2: #F76F9C;
    --color3: #fff;
    --textShadow: 5px 10px #F76F9C; 

}
.overall {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows:6rem auto 10rem;
    grid-template-areas: 
    "header header header"
    "left-sidebar main right-sidebar"
    "footer footer footer";
    min-height: 100vh;
}

.container{
    padding: 50px 10%;
}

header{
    grid-area: header;
    background-color: var(--color1);
    box-sizing: border-box;
    position: relative;
}
nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: hsla(0, 0%, 0%, 0.617);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 10%;
    color: var(--color3);
    z-index: 4;
}

nav h1{
    font-weight: bold;
    font-size: 50px;
    text-shadow: var(--textShadow);
    padding: 0 20px 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.menu-open{
    z-index: -1;
}

nav ul a{
    color: var(--color3);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color2);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
} 
aside.left-aside{
    grid-area: left-sidebar;
    background-color: var(--color1);
}
main{
    grid-area: main;
    background: var(--color1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    color: var(--color3)
    /* gap: 10px 20px; */
}
aside.right-aside{
    grid-area: right-sidebar;
    background-color: var(--color1);
}
footer{
    grid-area: footer;
}

/* Nav bar */
nav h2{
    font-weight: bold;
    font-size: 50px;
    text-shadow: var(--textShadow);
}

.logo{
    font-weight: bold;
    font-size: 50px;
    text-shadow: var(--textShadow);
    padding: 0 20px 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

/* Header */

.header-text{
    font-size: 30px;
    padding: 350px 10%;
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-size: contain;
    background-position: top;
    margin-top: -100px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: var(--color2);
}

.menu-open{
    color: var(--color3);
    position: fixed;
    right: 5%;
    top: 4%;
}

/* About */
#about{
    margin-top: 50px; 

}
.row{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    gap: 150px;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2 img{
    width: 200px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    text-shadow: var(--textShadow);
    font-size: 50px;
    font-weight: 600;
    color: var(--color3);
}

.tab-titles{
    display: flex;
    margin: 50px 0 50px;
    justify-content: flex-start;
    gap: 50px;
}

.tab-links{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color2);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    margin: 10px 0;
    font-size: 14px;
    list-style: none;
}

.tab-contents ul li span{
    color: var(--color2);
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* Projects */
.project-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 400px;
    height: 450px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--color2));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.3s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: var(--color2);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--color3);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

.button{
    display: inline-block;
    width: fit-content;
    margin-top: 50px;
    border: 1px solid var(--color2);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color3);    
    background: var(--color1);
    transition: background 0.3s;
    font-weight: bold;
}

.button:hover{
    background: var(--color2);
    box-shadow: 0 8px 24px var(--color2);
}

/* Contact */

#contact{
    padding: 50px 10%;
    margin-bottom: 10px;
}

.contact-col-1{
    flex-basis: 40%;
}

.contact-col-1 p{
    margin-top: 10%;
}

.contact-col-2{
    flex-basis: 60%;
}

.button.button2{
    display: inline-block;
}

.contact-col-2 form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--color3);
    padding: 15px;
    margin: 15px 0;
    color: var(--color1);
    font-size: 17px;
    border-radius: 6px;
}

.button.button3{
    font-size: 17px;
}

/*---------footer----------*/
.footer{
    background-color: var(--color3);
    color: var(--color1);
    height: 100%;
}

.footer h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}

.copyright{
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin: 20px 0 20px; 
}

.icons{
    display: flex;
    justify-content: center;
    font-size: 25px;
    column-gap: 1rem;
}

.icons a{
    display: flex;
    color: var(--color1);
    text-decoration: none;
}

@media only screen and (max-width: 800px){
    .show-menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 1000%;
        padding-top: 8rem;
        text-align: center;
        transition: right 0.3s;
        background-color: hsla(0, 0%, 0%, 0.617);
    }

    .logo{
        font-size: 40px;
    }

    .menu-list{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    .menu-open{
        position: fixed;
        top: 2.2rem;
        padding: 0 5%;
        display: block;
        z-index: 4;
    }

    .row{
        display: flex;
        flex-direction: column;
        gap: 100px;;
    }

    .project-list{
        display: flex;
        flex-direction: column;
    } 

    .header-text{
        background-image: none;
        /* margin-top: -15rem; */
        padding: 15rem 10%;
        margin-bottom: -7rem;
    }

    .header-text{
        font-size: 20px;
        text-align: center;
    }

    .header-text h1{
        font-size: 40px;
    }
    
    .sub-title{
        font-size: 40px;
        text-align: center;

    }

    main{
        text-align: center;
    }

    .button{
        align-items: center;
        display: inline-block;
    }
  

}