*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
}

nav{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* top: 0;
    left: 0;
    z-index: ; */
    background-color: #000000;
    color: #fff;
}

.logo{
    font-weight: bold;
    font-size: 50px;
    text-shadow: 5px 10px #F76F9C;
    color: #fff;
}

nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

.menu-open{
    color: #fff;
    position: fixed;
    right:5%;
}


nav ul a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #F76F9C;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
} 

.header-text{
    margin-top: 20%;
    font-size: 30px;
    margin-left: 20px;
    padding: 10px 10%;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #F76F9C;
}


/*---------about----------*/
#about{
    padding: 50px 10%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2 img{
    width: 200px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    text-shadow: 5px 10px #F76F9C;
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}

.tab-titles{
    display: flex;
    margin: 20px -0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #F76F9C;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    margin: 10px 0;
    font-size: 14px;
    list-style: none;
}

.tab-contents ul li span{
    color: #F76F9C;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/*---------project----------*/
#projects{
    padding: 50px 10%;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    height: 470px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #F76F9C);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #F76F9C;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

.button{
    display: block;
    width: fit-content;
    margin-top: 50px;
    border: 1px solid #F76F9C;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;    
    background: #000000;
    transition: background 0.5s;
    font-weight: bold;
}

.button:hover{
    background: #F76F9C;
    box-shadow: 0 8px 24px #F76F9C;
}

.button.button1{
    margin-left: 42%;
}

/*---------contact----------*/
#contact{
    padding: 50px 10%;
}

.contact-col-1{
    flex-basis: 30%;
}

.contact-col-1 p{
    margin-top: 10%;
}

.contact-col-2{
    flex-basis: 60%;
}

.button.button2{
    display: inline-block;
}

.contact-col-2 form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 17px;
    border-radius: 6px;
}

.icons{
    color:#fff;
}

.button.button3{
    font-size: 17px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #fff;
    font-weight: 300;
    margin-top: 20px;
    color: #5f595bd3;
}